.p-0 {
  padding-bottom: 0px;
  padding-top: 60px;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &__item {
    //width: 450px;
    @include tablet {
      width: calc(100% / 2 - 30px);
      margin: auto;
    }
    @include desktop {
      width: calc(100% / 4 - 30px);
      // width: 450px;
    }
  }
}
.advantages-component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--third-bgd-color);
  margin-bottom: 30px;
  @include desktop {
    max-width: 450px;
  }

  &__title {
    color: var(--header-text-color);
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
  }
  &__icon {
    display: flex;
    align-items: center;
    align-content: center;
  }
}
