.page-header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  background-color: var(--primary-bgd-color);
  z-index: 1;
  &__container {
    display: flex;
    align-items: center;
  }
}
.portfolio-header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  background-color: var(--primary-bgd-color);
  z-index: 1;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  display: flex;
  margin-left: 93px;
  &__item {
    color: var(--header-text-color);
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .header-menu__item {
    &:not(:last-child) {
      margin-right: 46px;
    }
  }

  &__link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__link--active {
    color: var(--accent-color);
  }

  &__link--active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accent-color);
    height: 4px;
    border-radius: 2px;
  }
}

.contact {
  display: flex;
  margin-left: auto;
  gap: 50px;
  &__link {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  &__icon-envelope {
    margin-right: 10px;
    fill: #afb1b8;
    transition: fill var(--transition-standard);
  }
  &__icon-smartphone {
    margin-right: 10px;
    fill: #afb1b8;
    transition: fill var(--transition-standard);
  }

  &__link:hover .contact__icon-envelope,
  &__link:focus .contact__icon-envelope {
    fill: var(--accent-color);
  }

  &__link:hover .contact__icon-smartphone,
  &__link:focus .contact__icon-smartphone {
    fill: var(--accent-color);
  }
}
