:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --header-text-color: #212121;
  --primary-bgd-color: #ffffff;
  --secondary-bgd-color: #2f303a;
  --third-bgd-color: #f5f4fa;
  --transition-standard: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-font-family: "Roboto", sans-serif;
}
